@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="messages">
    @if (ViewData["Message"] != null)
        @Html.Raw(ViewData["Message"])

    @if (TempData["Message"] != null)
        @Html.Raw(TempData["Message"])
</div>